server:
  port: 5012

spring:
  application:
    name: gateway-server-webmvc

---

spring:
  config:
    import: nacos:application-gateway-server-webmvc.yml
  cloud:
    nacos:
      discovery:
        namespace: ${NACOS_DISCOVERY_NAMESPACE:public}
        server-addr: ${NACOS_DISCOVERY_SERVER_ADDR:127.0.0.1:8848}
      config:
        namespace: ${NACOS_CONFIG_NAMESPACE:${NACOS_DISCOVERY_NAMESPACE:public}}
        server-addr: ${NACOS_CONFIG_SERVER_ADDR:${NACOS_DISCOVERY_SERVER_ADDR:127.0.0.1:8848}}
        import-check:
          enabled: false
        file-extension: yml

---

spring:
  cloud:
    gateway:
      server:
        webmvc:
          routes:
            - id: user
              uri: lb://user
              predicates:
                - Path=/user/**
              filters:
                - RewritePath=/user/(.*), /$1
            - id: user-actuator
              uri: lb://user-actuator
              predicates:
                - Path=/user-actuator/**
              filters:
                - RewritePath=/user-actuator/(.*), /$1
